label.error {
    color: red;
    font-size: 12px;
}

.login-container {
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animationContainer {
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animationContainer #animationGif {
    width: 100px;
}

#loadingText {
    margin-top: 35px;
    font-size: 16px;
    color: #333;
    position: absolute;
}

.swal2-actions .btn {
    margin: 0 0.5rem !important;
}

.hidden {
    display: none;
}

.recipePreview {
    max-height: 200px !important;
    width: auto !important;
}

.tableImg {
    height: 100px;
}

.required {
    color: red !important;
}

.dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: unset !important;
}
